.test {
    color: red;
    font-size: 250%;
    text-align: center
}


.win {
    color: green;
    font-size: 350%;
    text-align: center;
    text-transform: uppercase;
}

.answers {
    margin-top: 100px;
}